/* 
>INLINE ADALAH DISPLAY SUATU ELEMEN HTML YANG BERGERAK MEMANJANG SECARA HORIZONTAL/ATAU KESAMPING...CONTOH ELEMEN YANG MEMILIKI DEFAULT INLINE
    -<strong>
    -<a>
    -<span>
    -<button>
    -<input>
    -<label>
CATATAN: 
    -KEKURANGAN DISPLAY PADA INLINE TIDAK BISA MENGATUR LEBAR DAN TINGGI


>BLOCK ADALAH DISPLAY SUATU ELEMEN HTML YANG TETAP BERGERAK HORIZONTAL,TETAPI OTOMATIS MENAMBAHKAN BARIS BARU UNTUK ELEMENT SELANJUTNYA
    -<li>
    -<ul>
    -<p>
    -<form>
    -<hr>
    -<div>
CATATAN:
    -SECARA DEFAULT UKURAN PANJANG DARI BLOCK AKAN MEMENUHI BROWSER NYA
    -DIA AKAN MEMBUAT BARIS BARU UNTUK ELEMENT SELANJUTNYA
    -KITA DAPAT MENGATUR TINGGI DAN LEBAR NYA

>INLINE-BLOCK ADALAH DISPLAY DARI SUATU ELEMENT HTML YANG TETAP BERGERAK HORIZONTAL,DAN TIDAK MENAMBAHKAN BARIS BARU UNTUK ELEMENT SELANJUTNYA
CATATAN: TIDAK ADA ELEMENT YANG SECARA DEFAULT MEMILIKI DISPLAY INLINE-BLOCK
    -SECARA DEFAULT UKURAN PANJANG DARI INLINE-BLOCK MENGIKUTI ISI KONTEN
    -SAMA KAYA INLINE,ELEMENT INI TIDAK AKAN MEMBUAT BARIS BARU UNTUK ELEMENT SELANJUTNYA
    -KITA DAPAT MENGATUR TINGGI DAN LEBARNYA

>NONE UNTUK MENGHILANGKAN WUJUD NYA
 */

 a{
    display:block;
 }