/* 
TEXT-ALIGN :        //UNTUK MENENTUKAN POSISI TEXT NYA
    -justify    //untuk rapihin atau rata kiri kanan
    -center     //ditengah

text-decoration:    //untuk menentukan ingin diberi garis dimananya
    -underline
    -over-line
    -line-trought

TEXT-TRANSFORM      //UNTUK MEMBUAT HURUF NYA MENJADI BESAR SEMUA ATAU KECIL SEMUA
    -capitalize     //hanya awal yang besar
    -uppercase      //besar semua
    -lowercase      //kecil semua

LETTER-SPACING      //untuk memberi jarak antara hurufnya
    -berapa px

LINE-HEIGHT         //untuk jarak dari atas kebawah
 */
 .container h1,h3{
    text-align: center;
    color: blue;
    text-decoration: overline;
    text-transform: uppercase;
}

.container p{
    text-align: justify;
}

.container span{
    color: red;
}